PROEIS_URL=https://www.proeis.rj.gov.br/
TIPO_DOCUMENTO=CPF
CPF=000.000.000-00
SENHA=senha_aqui
CONVENIO=HCPM - RAS
EVENTOS_PREFERIDOS=ENFERMAGEM CIRURGIA GERAL
APENAS_EVENTOS_LISTADOS=false
APENAS_TITULAR=false
DIAS_A_FRENTE_INICIAL=6
DIAS_A_FRENTE_MAXIMO=7
INTERVALO_SEGUNDOS=6
TENTATIVAS_MAXIMAS=120
MODO_VISIVEL=false
GEMINI_MODEL=gemini-3.7-flash
GEMINI_API_KEY=
PORT=8000
ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=SenhaAdminForte123
MODO_HOMOLOGACAO=true
JWT_SECRET=chave_secreta_jwt
PROXY_SERVER=
VITE_API_URL=https://cprsautomacao.devsouza.online
API_URL=https://cprsautomacao.devsouza.online
#PROXY_SERVER=http://usuario:senha@ip:porta ( descomentar para servidor )