__pycache__/
*.py[cod]
*$py.class
*.rar
*.zip

.env
.env.local

venv/
env/
.venv/

frontend/node_modules/
frontend/dist/

data/*.db
data/*.sqlite3
comprovantes/*.pdf
teste_comprovante.pdf

.vscode/
.idea/
.DS_Store
