PORT=8000
JWT_SECRET=proeis_painel_secret_jwt_easypanel_2026
ADMIN_EMAIL=admin@cproeis.local
ADMIN_PASSWORD=admin123
SYNC_SECRET_KEY=proeis_sync_secret_key_padrao_2026
DATABASE_URL=sqlite:////app/data/app.db
